<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>Change Password</title>
</head>
<style>
	body{
		background: #63c6d3;
	}
</style>
<body>
    <header>
		<h4><a href="mainpage">Siletra</a></h4>
		<%- include('navbar') %>
	</header>
	<h1>Change Password</h1>
	<form>
		<label for="password">New Password :</label>
		<input type="text" id="password" name="password"><br>

		<label for="password">Repeat New Password:</label>
		<input type="password" id="password" name="password"><br>

        <button type="submit"><a href="profile">save new password</a></button>
	</form>

    <footer>
		<p>&copy; Siletra 2023. All rights reserved.</p>
	</footer>
</body>
</html>