<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Siletra Landing Page</title>
    <style>
      body {
        background-color: #f2f2f2;
        font-family: Arial, sans-serif;
      }
      .container {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        padding-top: 100px;
      }
      h1 {
        font-size: 48px;
        margin-bottom: 50px;
      }
      p {
        font-size: 24px;
        margin-bottom: 30px;
      }
      a {
        display: inline-block;
        background-color: #4CAF50;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 20px;
      }
      a:hover {
        background-color: #3e8e41;
      }
		body{
			background: #63c6d3;
		}
	</style>
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Write and Sign letters you need
        in just one click!</h1>
      <p>write, sign, and request signature of FTI’s academic community in your letter anywhere anytime</p>
      <a href="login">Get started!</a>
    </div>
  </body>
</html>
