<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Request Sign</title>
    <style>
        /* Style the button */
        .add-button {
          background-color: #4CAF50;
          color: #fff;
          padding: 10px 20px;
          border-radius: 5px;
          border: none;
          cursor: pointer;
        }
        /* Add a hover effect for the button */
        .add-button:hover {
          background-color: #3e8e41;
        }
		body{
			background: #63c6d3;
		}
	</style>
      </style>
  </head>
  <body>
    <header>
		<h4><a href="mainpage.html">Siletra</a></h4>
		<%- include('navbar') %>
	</header>
    <main>
        <img src="https://i.pinimg.com/736x/f5/c3/ba/f5c3bac2b817be179f82d0e5690bb528.jpg" alt="Download Signed Letter" width ="300" height ="450">
    </main>
        
    <button class="add-button">Download</button>
    <footer>
		<p>&copy; Siletra 2023. All rights reserved.</p>
	</footer>
  </body>
</html>