<nav>
    <ul>
        <li><a href="myrequest">my request</a></li>
        <li><a href="requestsign">request sign</a></li>
        <li><a href="resources">resources</a></li>
        <li><a href="profile">profile</a></li>
    </ul>
</nav>