<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="loginbg">
	<div class="signup-box">
		<h2>Sign Up Here</h2>
		<form>
			<p>Full Name</p>
			<input type="text" name="fullname" placeholder="Enter Full Name">
			<p>Email Address</p>
			<input type="email" name="email" placeholder="Enter Email Address">
			<p>Password</p>
			<input type="password" name="password" placeholder="Enter Password">
			<p>Confirm Password</p>
			<input type="password" name="confirm_password" placeholder="Confirm Password">
			<input type="submit" name="submit" value="Sign Up">
		</form>
		<p>Already have an account? <a href="login.html">Log In Here</a></p>
	</div>
</body>
</html>